[submodule "academy"]
	path = academy
	url = https://github.com/dipankardas011/academy.git
[submodule "kubecon2022"]
	path = kubecon2022
	url = https://github.com/kubernetes101/kubecon2022.git
[submodule "IAC/Terrafrom_Practice"]
	path = IAC/Terrafrom_Practice
	url = https://github.com/dipankardas011/Terrafrom_Practice.git
[submodule "Kubernetes/Operator/build-your-operator"]
	path = Kubernetes/Operator/build-your-operator
	url = https://github.com/leszko/build-your-operator
[submodule "security/docker/docker-bench-security"]
	path = security/docker/docker-bench-security
	url = https://github.com/docker/docker-bench-security.git
[submodule "security/docker/cis-docker-benchmark"]
	path = security/docker/cis-docker-benchmark
	url = https://github.com/dev-sec/cis-docker-benchmark.git
[submodule "Monitoring/Telegraf/influxdb-examples"]
	path = Monitoring/Telegraf/influxdb-examples
	url = https://github.com/saiyam1814/influxdb-examples.git
[submodule "Kubernetes/advanceCluster/autoscaler"]
	path = Kubernetes/advanceCluster/autoscaler
	url = https://github.com/kubernetes/autoscaler
[submodule "policy/kyverno/policies"]
	path = policy/kyverno/policies
	url = https://github.com/kyverno/policies
[submodule "docker-development-youtube-series"]
	path = docker-development-youtube-series
	url = https://github.com/marcel-dempers/docker-development-youtube-series.git
[submodule "Monitoring/Prometheus/helm-charts"]
	path = Monitoring/Prometheus/helm-charts
	url = https://github.com/prometheus-community/helm-charts.git
[submodule "Monitoring/Prometheus/kube-prometheus"]
	path = Monitoring/Prometheus/kube-prometheus
	url = https://github.com/prometheus-operator/kube-prometheus.git
[submodule "CI-CD/Flux/demo-repo"]
	path = CI-CD/Flux/demo-repo
	url = https://github.com/dipankardas011/demo-repo.git
